body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.background {
  background-image: url(https://media.giphy.com/media/l4KihuqeuJEi9qLSM/giphy.gif);
  background-size: cover;
  background-position: 50% 60%;
}

.glow:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(211, 206, 206),
    0 0 5px rgb(211, 206, 206);
  cursor: pointer;
}

.shop {
  max-width: 90vw;
  min-width: 40vw;
}

.main-fish {
  animation-name: color-pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes color-pulse {
  0% {
    color: #46d5e6;
    left: 0px;
    top: 0px;
  }
  10% {
    color: #e53fb6;
    left: 0px;
    top: 0px;
  }
  20% {
    color: #ffc008;
    left: 200px;
    top: 0px;
  }
  30% {
    color: #3cf182;
    left: 200px;
    top: 200px;
  }
  40% {
    color: #e53fb6;
    left: 0px;
    top: 0px;
  }
  50% {
    color: #e14f58;
    left: 0px;
    top: 0px;
  }
  60% {
    color: #ffc008;
    left: 0px;
    top: 0px;
  }
  70% {
    color: #3cf182;
    left: 0px;
    top: 200px;
  }
  80% {
    color: #e14f58;
    left: 0px;
    top: 0px;
  }
  90% {
    color: #3cf182;
    left: 0px;
    top: 0px;
  }
  100% {
    color: #46d5e6;
    left: 0px;
    top: 0px;
  }
}
